<style>
  .compatability-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
    background-color: #fff9c7;
    font-size: 14px;
  }

  .compatability-table th {
    background-color: #008000;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #bcbcbc;
  }

  .compatability-table td {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #bcbcbc;
    color: #008000;
  }

  .compatability-table tr:nth-child(even) {
    background-color: #fef5b3;
  }

  .matching-score {
    font-size: 36px;
    font-weight: bold;
    color: #008000;
    margin-bottom: 10px;
  }

  .compatability-table td span {
    font-size: 14px;
    font-weight: 600;
  }
</style>

<table class="porutham-page">
  <tr>
    <td>
      <br />
      <div class="compatability-page">
        <h2
          class="compatability-table-title"
          style="text-align: center; color: #008000; font-size:20px"
        >
          Nakshatra Porutham & Rasi Porutham
        </h2>
        <table class="compatability-table">
          <tr>
            <th>Porutham Name</th>
            <th>Status</th>
            <th>Matching Score</th>
          </tr>
          {{porutham_rows | safe}}
        </table>
      </div>
    </td>
  </tr>
</table>
