<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Name </strong></p>
            <p>DOB / POB</p>
            <p>Complexion</p>
            <p>Education</p>
          </td>
          <td>
            <p><strong>{{name}}</strong></p>
            <p>{{dob}} / {{birth_place}}</p>
            <p>{{complexion}}</p>
            <p>{{highest_education}}</p>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Vysyamala Id : </strong></p>
            <p>Height / Photos</p>
            <p>Annual Income</p>
            <p>Profession/Place of stay</p>
            <p>{{occupation_title}}</p>
          </td>
          <td>
            <p><strong>{{profile_id}}</strong></p>
            <p>{{height}} / {{image_status}}</p>
            <p>{{annual_income}}</p>
            <p>{{profession}} / {{work_place}}</p>
            <p>{{occupation}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Father Name </strong></p>
            <p>Father Occupation</p>
            <p>Family Status</p>
            <p>Brothers/Married</p>
          </td>
          <td>
            <p><strong>{{father_name}}</strong></p>
            <p>{{father_occupation}}</p>
            <p>{{family_status}}</p>
            <p>{{no_of_brother_married}}</p>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Mother Name </strong></p>
            <p>Mother Occupation</p>
            <p>Sisters/Married</p>
          </td>
          <td>
            <p><strong>{{mother_name}}</strong></p>
            <p>{{mother_occupation}}</p>
            <p>{{no_of_sister_married}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Star/Rasi </strong></p>
            <p>Lagnam/Didi</p>
            <p>Nalikai</p>
          </td>
          <td>
            <p><strong>{{birth_star}}, {{birth_rasi}}</strong></p>
            <p>{{lagnam}}</p>
            <p>{{nalikai}}</p>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Surya Gothram : </strong></p>
            <p>Madhulam</p>
            <p>Birth Time</p>
          </td>
          <td>
            <p><strong>{{suya_gothram}}</strong></p>
            <p>{{madulamn}}</p>
            <p>{{birth_start}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

