{% include 'pdf_templates/header.html' %}

{% include 'pdf_templates/without_contact.html' %}
{% include 'pdf_templates/horoscope_without_contact.html' %}

{% if porutham_show %}
  <div style="page-break-before: always;"></div>
  {% include 'pdf_templates/compatability.html' %}
{% endif %}

{% if horoscope_content_admin != "empty" %}
  {% include 'pdf_templates/horoscope_file.html' %}
{% endif %}

<style>
  @page{
    size: A4;
    margin: 12mm 10mm 12mm 10mm;
  }
  .mt{
    margin-top: 2rem;
  }
</style>

</body>
</html>