{% include 'pdf_templates/header2.html' %}
{% include 'pdf_templates/without_contact.html' %}
{% include 'pdf_templates/horoscope_without_contact.html' %}
<div style="page-break-before: always;"></div>
{% if porutham_show %}
  {% include 'pdf_templates/compatability_black.html' %}
{% endif %}
<!-- ✅ Add condition only here -->
{% if horoscope_content_admin != "empty" %}
  {% include 'pdf_templates/horoscope_file_black.html' %}
{% endif %}
<!-- Footer -->
<style>
  @page{
    size: A4;
    margin: 12mm 10mm 12mm 10mm;
  }
  .mt{
    margin-top: 2rem;
  }
</style>

</body>
</html>