       
<style>
  .porutham-star tr td p {
    text-align: left !important;
  }
.porutham-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff9c7;
    font-size: 14px;
}

.porutham-table th {
    background-color: #008000;
    color: #ffffff;
    font-size: 14px;
    padding: 12px 10px;
    text-align: center;
    border: 1px solid #bcbcbc;
}

.porutham-table td {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #bcbcbc;
}

.porutham-table tr:nth-child(even) {
    background-color: #fef5b3;
}

.matching-score {
    font-size: 36px;
    font-weight: bold;
    color: #008000;
    margin-bottom: 10px;
}

.porutham-table td span {
    font-size: 14px;
    font-weight: 600;
}
</style>
<table class="header">
        <tr>
            <td class="header-left">
                <div class="header-logo">
                    <img src="https://vysyamat.blob.core.windows.net/vysyamala/pdfimages/horoHeader.png"
                        alt="Vysyamala Logo">
                </div>
            </td>
        </tr>
    </table>

<div class=" porutham-match">
    <table class="porutham-page">
                <h2 class="porutham-table-title" style="color:#008000; font-size:18px">Matching Stars Report</h2>
                <table class="porutham-table">
                     <tr>
                        <td><p style="color:#008000;">Name</p></td>
                        <td><p style="color:#008000;">{{name}}</p></td>
                        <td><p style="color:#008000;">Vysyamala ID</p></td>
                        <td><p style="color:#008000;">{{profile_id}}</p></td>
                    </tr>
                    <tr>
                        <td><p style="color:#008000;">Birth Star</p></td>
                        <td><p style="color:#008000;">{{birth_star}}</p></td>
                        <td><p style="color:#008000;">Age</p></td>
                        <td><p style="color:#008000;">{{age}}</p></td>
                    </tr>
                </table>
            {% for porutham_count, stars in porutham_stars.items %}
              <h2 class="porutham-table-title" style="color:#008000; font-size:15px">Matching Stars ({{ porutham_count }} Poruthams)</h2>
              <table class="porutham-table porutham-star">
                <tr>
                  <td><p style="color:#008000;">{{ stars|default:"N/A" }}</p></td>
                </tr>
              </table>
            {% endfor %}
      </table>
</div>
    <div class="upload-horo-bg mt-5">
    <img src="https://vysyamat.blob.core.windows.net/vysyamala/pdfimages/uploadHoroFooter.png">
  </div>
</body>
</html>
